body {
  background-image: url("../img/halftone.png");
  background-position: center;
  background-repeat: repeat;
}

#thankyou_message {
  display: none;
}

label {
  max-width: 14em;
}

input[type="text"] {
  float: right;
}

fieldset {
  border: #bebdb8 solid 1px;
}

.tree-img {
  background-image: url("../img/tree_compressed.png");
  width: 100%;
  height: 900px;
  position: absolute;
  background-position: center top;
  background-repeat: no-repeat;
  animation: .6s ease-out 0s 1 fadeIn;
  z-index: -1;
}

iframe {
  max-width: 500px;
  max-height: 375px;
  border: 0;
}

.container {
  padding: 5em 1em 0 1em;
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 2em 1em 0 1em;
  }
}

.article {
  display: inline-block;
  width: 45%;
}

.article-image.right {
  position: absolute;
  right: 6%;
  display: inline-block;
  max-width: 30%;
}

.article-image img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .article-image,
  .article-image.right {
    display: none;
  }

  .article {
    width: 100%;
  }
}

.btn {
  width: 5em;
  padding: .6em;
  margin: .5em;
  color: #f2f2f2;
  background-color: #5b5a56;
  border-radius: 8px;
  font-size: 1em;
  font-family: 'EB Garamond', serif;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn.centered {
  margin: .5em auto;
}

.quote {
  margin-top: 23em;
}

@media only screen and (max-width: 400px) {
  .quote {
    margin-top: 18em;
  }
}

.quote p {
  font-size: 2.2em;
}

body {
  background-image: url("../img/halftone.png");
}

@keyframes fadeIn {
  0% {
    background-position: center -40%, center;
    opacity: .1;
  }
  75% {
    opacity: .8;
  }
  100% {
    background-position: center top, center;
    opacity: 1;
  }
}