body {
  background-color: #f2f2f2;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  font-size: 16px;
  color: #0f0f32;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Navbar */

.nav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
}

.nav-logo {
  float: left;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #0f0f32;
}

.nav-links a:hover {
  color: #3636a8;
  text-decoration: none;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
    color: #0f0f32;
}

h1, h2 {
  font-weight: 600;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 20px;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

/* Links */
a {
    color: #7200ba;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover,
a:focus {
  text-decoration: underline;
  outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	text-align: center;
	margin-top: 25px;
}

h1 {
	font-size: 4em;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

.w i {
	font-size: 26px;
	padding: 12px;
}

/* Inputs */

label {
  display: block;
}